# Ignorar errores de plataforma para permitir la instalación en Docker (Linux)
engine-strict=false
optional=false
# Ignorar scripts de instalación para evitar problemas con dependencias nativas
ignore-scripts=true
# Omitir dependencias opcionales
omit=optional
